.bg-vid{
    height: 111px;
}

.asal{
    width: 40vw;
}

.huruf{
    width: 40vw;
    border-radius: 90px;
}

.huruf-jawa{
    margin-left: 950px;
}

.pasangan{
    width: 40vw;
}

.angka{
    margin-left: 950px;
}

.img-angka{
    width: 40vw;
}

.nav{
    margin-right: 600px;
}

.b{
    width: 64px;
}

